body {
    font-family: 'Poppins', sans-serif;
    background-color: #49dce1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: whitesmoke;
}

.container {
    background-color: #0a3f8f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-weight: 600;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

input, button {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00b31b;
}

#emoji-container {
    font-size: 3rem;
    margin-bottom: 20px;
}

#mood-history {
    text-align: left;
}
